@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Sigmar&display=swap');

body{
    font-family: "Fredoka", serif;
    font-style: normal;
    background-color: #003092
}
button{
    font-family: "Fredoka", serif;
    font-style: normal;
}
.title{
    display: flex;
}
#names-mascotas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#select-mascota{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 20px;
}
#select-ataque{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#mensaje-combate{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#reset-juego{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#section-buttons-select{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.tarjeta{
    width: 150;
    height: 190px;
    background-color: rgb(129, 33, 218);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    margin: 5px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: snow;
}
.tarjeta:hover{
    background-color: #FFAB5B;
    color: azure;
    font-weight: 900;
}
.tarjeta > img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
#boton-select-mascota{
    width: 250px;
    height: 40px;
    background-color: #1955de;
    border-radius: 6px;
    color: white;
    border: 2px solid rgb(0, 0, 0);
    font-weight: 400;
    font-size: 18px;
}
#boton-select-mascota:hover{
    background-color: #FFAB5B;
    color: azure;
    font-weight: 900;
}
#boton-select-mascota-rival{
    width: 250px;
    height: 40px;
    background-color: #1955de;
    border-radius: 6px;
    color: white;
    border: 2px solid rgb(0, 0, 0);
    font-weight: 400;
    font-size: 18px;
}
#boton-select-mascota-rival:hover{
    background-color: #FFAB5B;
    color: azure;
    font-weight: 900;
}
#boton-reset{
    width: 250px;
    height: 40px;
    background-color: #1955de;
    border-radius: 6px;
    color: white;
    border: 2px solid rgb(0, 0, 0);
    font-weight: 400;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;

}
#boton-reset:hover{
    background-color: #00879E;
    color: azure;
    font-weight: 900;
}
#boton-fuego{
    width: 110px;
    height: 35px;
    background-color: #FFAB5B;
    border-radius: 6px;
    color: white;
    border: 2px solid rgb(0, 0, 0);
    font-weight: 400;
    font-size: 18px;
}
#boton-fuego:hover{
    background-color: #00879E;
    color: azure;
    font-weight: 900;
}
#boton-agua{
    width: 110px;
    height: 35px;
    background-color: #FFAB5B;
    border-radius: 6px;
    color: white;
    border: 2px solid rgb(0, 0, 0);
    font-weight: 400;
    font-size: 18px;
}
#boton-agua:hover{
    background-color: #00879E;
    color: azure;
    font-weight: 900;
}
#boton-tierra{
    width: 110px;
    height: 35px;
    background-color: #FFAB5B;
    border-radius: 6px;
    color: white;
    border: 2px solid rgb(0, 0, 0);
    font-weight: 400;
    font-size: 18px;
}
#boton-tierra:hover{
    background-color: #00879E;
    color: azure;
    font-weight: 900;
}
input{
    display: none;
}
input:checked + label > .tarjeta{
    background-color: #FFAB5B;
    color: azure;
    font-weight: 900;
}
h2 > span{
    color: red;
    font-weight: 900;
}
section > h2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5px;
}
#names-mascotas > h2{
    color: snow;
}
#container-acount > p{
    color: snow;
}
#select-ataque > h2{
    color: snow;
}
#container-acount{
    display: flex;
    flex-direction: row;
    gap: 10px ;
    justify-content: center;
    align-items: center;
}
#mensaje-contador{
    font-size: 20px;
}
#mensaje-mascota{
    color: #FFAB5B;
}
#mensaje-mascota-rival{
    color: #FFAB5B;
}
#mensaje-combate{
    font-size: 20px;
    color: snow;
}
#vidas-mascota-rival{
    color: #FFAB5B;
    font-weight: 700;
}
#vidas-mascota{
    color: #FFAB5B;
    font-weight: 700;
}