.title{
    display: flex;
}
#names-mascotas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#select-mascota{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 20px;
}
#select-ataque{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#mensaje-combate{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#reset-juego{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#section-buttons-select{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.tarjeta{
    width: 200px;
    height: 230px;
    background-color: rgb(129, 33, 218);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    margin: 5px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: snow;
}
.tarjeta > img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
#boton-select-mascota{
    width: 250px;
    height: 40px;
    background-color: #1955de;
    border-radius: 6px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 2px solid rgb(0, 0, 0);
    font-weight: 400;
    font-size: 18px;
}
#boton-select-mascota:hover{
    background-color: #ee10e3;
    color: azure;
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#boton-select-mascota-rival{
    width: 250px;
    height: 40px;
    background-color: #1955de;
    border-radius: 6px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 2px solid rgb(0, 0, 0);
    font-weight: 400;
    font-size: 18px;
}
#boton-select-mascota-rival:hover{
    background-color: #ee10e3;
    color: azure;
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#boton-reset{
    width: 250px;
    height: 40px;
    background-color: #1955de;
    border-radius: 6px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 2px solid rgb(0, 0, 0);
    font-weight: 400;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;

}
#boton-reset:hover{
    background-color: #ee10e3;
    color: azure;
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#boton-fuego{
    width: 110px;
    height: 35px;
    background-color: #1955de;
    border-radius: 6px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 2px solid rgb(0, 0, 0);
    font-weight: 400;
    font-size: 18px;
}
#boton-fuego:hover{
    background-color: #ee10e3;
    color: azure;
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#boton-agua{
    width: 110px;
    height: 35px;
    background-color: #1955de;
    border-radius: 6px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 2px solid rgb(0, 0, 0);
    font-weight: 400;
    font-size: 18px;
}
#boton-agua:hover{
    background-color: #ee10e3;
    color: azure;
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#boton-tierra{
    width: 110px;
    height: 35px;
    background-color: #1955de;
    border-radius: 6px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 2px solid rgb(0, 0, 0);
    font-weight: 400;
    font-size: 18px;
}
#boton-tierra:hover{
    background-color: #ee10e3;
    color: azure;
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
input{
    display: none;
}
input:checked + label > .tarjeta{
    background-color: #ee10e3;
    color: azure;
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2 > span{
    color: red;
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
section > h2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#container-acount{
    display: flex;
    flex-direction: row;
    gap: 10px ;
    justify-content: center;
    align-items: center;
}
#mensaje-contador{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}
#mensaje-combate{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}
#vidas-mascota-rival{
    color: #1955de;
}
#vidas-mascota{
    color: #1955de;
}