@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Sigmar&display=swap');

@media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
}

body{
    font-family: "Fredoka", serif;
    font-style: normal;
    background-color: #003092;
    background-image: url('./images/canyon-Photoroom.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    scroll-behavior: smooth;

}
button{
    font-family: "Fredoka", serif;
    font-style: normal;
}
.title{
    display: flex;
}
#names-mascotas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#select-mascota{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#select-ataque{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#mensaje-combate{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#reset-juego{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#section-buttons-select{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}
.tarjeta{
    width: 150;
    height: 190px;
    background-color: rgb(129, 33, 218);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    margin: 5px;
    border: 2px solid snow;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: snow;
}
.tarjeta:hover{
    background-color: #FFAB5B;
    color: azure;
    font-weight: 900;
    cursor: pointer;
}
.tarjeta > img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
#boton-select-mascota{
    width: 250px;
    height: 40px;
    background-color: #1955de;
    border-radius: 6px;
    color: white;
    border: 2px solid snow;
    font-weight: 400;
    font-size: 18px;
}
#box-ataque{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
#box-ataque-rival{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
#boton-select-mascota:hover{
    background-color: #FFAB5B;
    color: azure;
    cursor: pointer;
    font-weight: 900;
}
#boton-select-mascota-rival{
    width: 250px;
    height: 40px;
    background-color: #1955de;
    border-radius: 6px;
    color: white;
    border: 2px solid snow;
    font-weight: 400;
    font-size: 18px;
}
#boton-select-mascota-rival:hover{
    background-color: #FFAB5B;
    color: azure;
    cursor: pointer;
    font-weight: 900;
}
#boton-reset{
    width: 250px;
    height: 40px;
    background-color: #1955de;
    border-radius: 6px;
    color: white;
    border: 2px solid rgb(0, 0, 0);
    font-weight: 400;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;

}
#boton-reset:hover{
    background-color: #00879E;
    color: azure;
    font-weight: 900;
}
#boton-fuego{
    width: 120px;
    height: 38px;
    background-color: #FFAB5B;
    border-radius: 20px;
    color: white;
    border: 2px solid snow;
    font-weight: 400;
    font-size: 18px;
}
#boton-fuego:hover{
    background-color: #00879E;
    color: azure;
    font-weight: 900;
    cursor: pointer;
}
#boton-agua{
    width: 120px;
    height: 38px;
    background-color: #FFAB5B;
    border-radius: 20px;
    color: white;
    border: 2px solid snow;
    font-weight: 400;
    font-size: 18px;
}
#boton-agua:hover{
    background-color: #00879E;
    color: azure;
    font-weight: 900;
    cursor: pointer;
}
#boton-tierra{
    width: 120px;
    height: 38px;
    background-color: #FFAB5B;
    border-radius: 20px;
    color: white;
    border: 2px solid snow;
    font-weight: 400;
    font-size: 18px;
}
#boton-tierra:hover{
    background-color: #00879E;
    color: azure;
    font-weight: 900;
    cursor: pointer;
}
#buttons-ataque{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
input{
    display: none;
}
input:checked + label > .tarjeta{
    background-color: #FFAB5B;
    color: azure;
    font-weight: 900;
}
h2 > span{
    color: red;
    font-weight: 900;
}
section > h2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5px;
}
#names-mascotas img{
    width: 350px;
    height: 150px;
}
#names-mascotas > h2{
    color: #FFAB5B;
}
#container-acount > p{
    color: #FFAB5B;
}
#select-ataque > h2{
    color: #1955de;
}
#mensaje-contador{
    font-size: 20px;
}
#mensaje-mascota{
    color: #1955de;
}
#mensaje-mascota-rival{
    color: #1955de;
}
#mensaje-combate{
    font-size: 20px;
    color: snow;
    text-align: center;
}
#vidas-mascota-rival{
    color: #1955de;
    font-weight: 700;
}
#vidas-mascota{
    color: #1955de;
    font-weight: 700;
}
#container-box-mensaje{
    width: 90%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}
#box-mensaje{
    background-color: bisque;
    width: 35%;
    border-radius: 10px;
    margin: 7px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    background-color: rgb(129, 33, 218);
    border: 2px solid snow;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#box-mensaje-rival{
    background-color: bisque;
    width: 35%;
    border-radius: 10px;
    margin: 7px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    background-color: rgb(129, 33, 218);
    border: 2px solid snow;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media screen and (max-width: 937px){
    .tarjeta{
        width: 140px;
        height: 150px;
    }
    .tarjeta > img{
        width: 100px;
        height: 100px;
    }
    #boton-select-mascota{
        width: 200px;
        height: 30px;
        font-size: 15px;
    }
    #boton-select-mascota-rival{
        width: 200px;
        height: 30px;
        font-size: 15px;
    }
    #boton-reset{
        width: 200px;
        height: 30px;
        font-size: 15px;
    }
    #boton-fuego{
        width: 90px;
        height: 30px;
        font-size: 15px;
    }
    #boton-agua{
        width: 90px;
        height: 30px;
        font-size: 15px;
    }
    #boton-tierra{
        width: 90px;
        height: 30px;
        font-size: 15px;
    }
    #section-buttons-select{
        flex-direction: flex;
    }
    #select-mascota{
        flex-direction: flex;
        flex-wrap: wrap;
    }
    #names-mascotas{
        flex-direction: column;
    }
    #mensaje-combate{
        flex-direction: column;
        text-align: center;
    }
    #reset-juego{
        flex-direction: column;
    }
    #vidas-mascota-rival{
        font-size: 20px;
    }
    #vidas-mascota{
        font-size: 20px;
    }
    #mensaje-combate{
        font-size: 20px;
    }
    #mensaje-mascota{
        font-size: 20px;
    }
    #mensaje-mascota-rival{
        font-size: 20px;
    }
    #mensaje-contador{
        font-size: 20px;
    }
    #names-mascotas img{
        width: 280;
        height: 140px;
    }
    #container-acount > p{
        font-size: 20px;
    }
    #names-mascotas > h2{
        font-size: 20px;
    }
    #box-mensaje{
        width: 45%;
    }
    #box-mensaje-rival{
        width: 45%;

    }
}